@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font montserat dùng cho câu hỏi điền form*/

/* font header, start button */
@font-face {
  font-family: "Neon80s";
  src: url("./Neon80s.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*font hero title */
@font-face {
  font-family: "MJ-CS-Bogart";
  src: url("./MJ-CS-Bogart.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
