#root {
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.2rem;
  font-weight: 500;
}

/* Responsive design */
@media (max-width: 768px) {
  .content {
    padding: 1rem;
  }

  .content h1 {
    font-size: clamp(1.8rem, 4vw, 2.5rem);
    margin-bottom: 1.5rem;
  }

  .start-button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }
}

/* Background */
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: transparent url("/assets/images/background.png");
  background-size: cover;
  opacity: 0.8;
  z-index: -1;
}

/* Content */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding: 2rem;
  position: relative;
  z-index: 1;
}

.content h1 {
  font-size: 6vw;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  letter-spacing: 1.5px;
  font-family: "MJ-CS-Bogart", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.highlight {
  color: #ff69b4;
}

/* Start Button */
.start-button {
  margin-top: 30px;
  padding: 0.5rem 5rem;
  background-color: #ff69b4;
  border: none;
  border-radius: 999px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
  font-family: "Neon80s", sans-serif;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.start-button:hover {
  background-color: #ff4ba0;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

/* HEADER */
.landing-header {
  position: fixed;
  width: 100%;
  padding: 15px 30px;
  z-index: 10;
  background: transparent;
}

.landing-header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  height: 60px;
}

.logo-img {
  height: 4rem;
  width: auto;
  align-items: center;
  margin-top: 20px;
  transition: transform 0.3s ease;
}

.logo-text {
  position: relative;
  bottom: 10px;
  right: 15px;
  transform: translateX(-50%);
  font-family: "Neon80s", sans-serif;
  color: white;
  z-index: 2;
  font-size: 4rem;
}

.logo-img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 2em #ff69b4);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  align-items: center;
  font-family: "Neon80s", sans-serif;
  font-size: 2.5rem;
}

.nav-links li {
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  line-height: 1;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.nav-links li a:hover {
  color: #ff69b4;
}

.language-flag {
  font-size: 1.2em;
  line-height: 1;
  color: rgb(0, 0, 0);
}

.signup-button {
  background-color: transparent;
  color: white;
  border: 1px solid #fff;
  border-radius: 1000px;
  padding: 8px 25px;
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.signup-button:hover {
  background-color: #ff4ba0;
}

.username-section {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 2.5rem;
}

.profile-circle {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 100%;
}

/* FOOTER */
.landing-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: white;
  z-index: 10;
  background: rgba(0, 0, 0, 0.2);
}

.social-icons a {
  color: white;
  margin-left: 15px;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ff69b4;
}

/* SIGNUP PAGE */
.signup-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.signup-card {
  background: #fff;
  padding: 26px;
  border-radius: 12px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.1);
}

.title {
  font-size: 30px;
  color: #000000;
  font-weight: 600;
  text-align: left;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #666;
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  text-align: left;
  margin-top: 20px;
}

/* FORM CONTAINER */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  color: #a657ae;
  background: #fff;
  padding: 30px;
  border-radius: 30px;
  width: 600px;
  height: 450px;
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.1);
}

.form-2-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  color: #a657ae;
  background: #fff;
  padding: 30px;
  border-radius: 30px;
  width: 600px;
  height: 450px;
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.1);
}

.form-3-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  color: #a657ae;
  background: #fff;
  padding: 30px;
  border-radius: 30px;
  width: 600px;
  height: 450px;
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.1);
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 83px;
}
.form-3-content::-webkit-scrollbar {
  width: 8px;
}
.form-3-content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 90px;
  margin-bottom: 90px;
}
.form-3-content::-webkit-scrollbar-thumb {
  background: #a657ae;
  border-radius: 4px;
}
.form-3-content::-webkit-scrollbar-thumb:hover {
  background: #8b4a8f;
}

.form-title {
  font-size: 2rem;
  font-weight: bold;
}

.form-subtitle {
  font-size: 1.2rem;
  font-style: italic;
}

/*SCROLL BAR STYLES */
.MuiAutocomplete-listbox {
  max-height: 300px;
  overflow-y: auto;
}

.MuiAutocomplete-listbox::-webkit-scrollbar {
  width: 8px;
}

.MuiAutocomplete-listbox::-webkit-scrollbar-track {
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.MuiAutocomplete-listbox::-webkit-scrollbar-thumb {
  background: #a657ae;
  border-radius: 4px;
}

.MuiAutocomplete-listbox::-webkit-scrollbar-thumb:hover {
  background: #8b4a8f;
}
.MuiAutocomplete-paper {
  border: 2px solid #a657ae;
  overflow: hidden;
}
.MuiAutocomplete-popper {
  margin-top: 10px !important;
}
.MuiAutocomplete-popper[data-popper-placement*="top"] {
  margin-bottom: 10px !important;
}

.MuiAutocomplete-popper .MuiAutocomplete-paper {
  border: 2px solid #a657ae;
  border-radius: 40px;
  overflow: hidden;
}
.MuiAutocomplete-option {
  color: #a657ae;
  padding: 10px 16px !important;
}
.MuiAutocomplete-option[aria-selected="true"],
.MuiAutocomplete-option.Mui-focused,
.MuiAutocomplete-option:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 999px;
  color: #8b4a8f;
  margin: 2px 8px;
}
